@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Instrument Sans (Variable Font) */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/instrumental_sans.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

/* Space Mono */
@font-face {
  font-family: 'spacemono';
  src: url('/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: 'Instrument Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

code,
pre {
  font-family: var(--font-mono);
}