.play-text{
    width: 55px;
    color: #000;
}

.pause-text{
    width: 55px;
    color: #000;
}

.stop-text{
    width: 55px;
    color: #000;
}

._leadstal__profile {
    height: auto;
    width: auto;
    bottom: 30px;
    left: 24px;
    line-height: 20px;
    border-radius: 50px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px;
    border: transparent;
    background: white;
    cursor: pointer;
    position: fixed;
    font-family: Roboto, "Noto Sans Bengali UI", Arial, sans-serif;
    color: #6C5CE7;
    z-index: 9999;
    display: flex;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

._leadstal__profile .text{
    margin: 0;
    padding-left: 10px;
}

._leadstal__profile .btn-icon{
    height: 20px;
    width: 20px;
}

#leadstal_website{
    color: #6c5ce7;
    margin-bottom: 10px;
    display: none;
}

#copy-all{
    cursor: pointer;
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 10px 20px;
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    border-radius: 32px;
    float: right;
}

.view-website{
    border-radius: 50%;
    float: left;
    position: relative;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

#leadstal_email{
    display: none;
}

#leadstal_loader{
    display: block;
}

.email{
    margin: 5px;
    cursor: pointer;
}

.profile-operation-body{
    min-height: 300px;
    align-items: normal;
    justify-content: center;
    padding: 36px 15px;
    display: block;
    position: relative;
    text-align: center;
}

._leadstal__button {
    height: auto;
    width: auto;
    bottom: 30px;
    left: 24px;
    line-height: 20px;
    border-radius: 50px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px;
    border: transparent;
    background: white;
    cursor: pointer;
    position: fixed;
    font-family: Roboto, "Noto Sans Bengali UI", Arial, sans-serif;
    color: #6C5CE7;
    z-index: 9999;
    display: flex;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

._leadstal__button .text{
    margin: 0;
    padding-left: 10px;
}

._leadstal__button .btn-icon{
    height: 20px;
    width: 20px;
}

.leadstal-show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.leadstal-show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leadstal-header{
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    background-color: #6c5ce7;
}

.header-title{
    color: #ffffff;
    font-weight: 600px;
    line-height: 20px;
}  

.leadstal-footer{
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    min-height: 28px;
    border-radius: 0 0 5px 5px;
    padding: 5px 10px;
    font-weight: 500;
    background-color: #636E72;
}


.footer-title{
    padding-left: 10px;
    color: #ffffff;
}  
.keyword{
    display: block;
    font-size: 24px;
}

.screen-off {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 9999;
    position: fixed;
}

.content_body{
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    min-width: 400px;
    height: auto;
    display: block;
    z-index: 10000;
}

.operation-body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.operation-body .option{
    display: -webkit-inline-box;
    -webkit-box-orient: horizontal;
}

.operation-body .button{
    padding: 0px 10px;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
}

.reset-operation-body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.reset-operation-body .option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-operation-body .button{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}


.reset-operation-body .btn-default{
    border-radius: 4px;
    border: 2px solid #6C5CE7;
    color: #ffffff;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    margin-top: 5px;
    background-color: #6c5ce7;
}

.reset-operation-body .btn-default:hover{
    background-color: #5e48c2;
    border-color: transparent;
    box-shadow: none;

}

.reset-operation-body .btn {
    background-color: rgb(108, 92, 231);
    color:rgb(255, 255, 255);

    padding: 5px 10px;
    position: inherit;
    display: flex !important;
}
.reset-operation-body .btn:focus,
.reset-operation-body .btn:active:focus {
    background-color: rgb(108, 92, 231);
    color:rgb(255, 255, 255);
    padding: 5px 10px;
    position: inherit;
    display: flex !important;
}
.reset-operation-body .btn:hover,
.reset-operation-body .btn:focus {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.reset-operation-body .btn:active {
    background-color: rgb(108, 92, 231);
    color:rgb(255, 255, 255);
    padding: 5px 10px;
    position: inherit;
    display: flex !important;
}


.reset-operation-body .btn-default:focus{
    background-color: #6c5ce7;
    box-shadow: none;
}


.reset-operation-body .btn-default:active{
    background-color: #5e48c2;
    border-color: transparent;
    box-shadow: none;
}

.content_body .btn{
    /* position: absolute;
    display: contents !important; */
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
}

.result_body .btn-default{
    border-radius: 4px;
    border: 2px solid #6C5CE7;
    color: #ffffff;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    margin-top: 5px;
    background-color: #6c5ce7;
}

.result_body .btn-default:hover{
    background-color: #5e48c2;
    border-color: transparent;
    box-shadow: none;

}


.result_body .btn-default:focus{
    background-color: #6c5ce7;
    box-shadow: none;
}


.result_body .btn-default:active{
    background-color: #5e48c2;
    border-color: transparent;
    box-shadow: none;
}


.counter {
    padding: 15px;
    text-align: center;
}

.counter p{
    color: #000;
    font-size: 500;
}

.result_body{
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    height: auto;
    width: 420px;
    z-index: 10000;
}

.keyword{
    font-size: 20px;
    padding: 0px 15px;
    text-transform: capitalize;
}

.result-content{
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.result-content p{
    color: black;
}

.img{
    display: initial;
    position: relative;
    width: 14px;
    height: 14px;
    padding: 10px;
    margin: 0px;
    box-shadow: 0px 0px 10px 5px #eaeaea;
    border-radius: 5px;
}

.leadstal-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.logo{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

.warning{
    font-weight: 600;
    color: #ffe000;
}

.iframe_loader {
    z-index: 999;
}

.close-btn{
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    opacity: 1;
    top: 6px;
    right: 10px;
    line-height: 16px;
    z-index: 100;
}

.Body-div{
    display: block;
}

.maintenance_text{
    color: #ffc800;
    margin-top: 80px;
    font-size: 32px;
    text-align: center;
}

.follower{
    justify-content: center;
    align-items: center;
    display: flex;
}

.follower_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 35px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.follower_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.follower_collection_btn .btn-icon{
    width: 20px;
}

.following_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 35px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.following_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.following_collection_btn .btn-icon{
    width: 20px;
}


.profile_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 35px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.profile_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.profile_collection_btn .btn-icon{
    width: 20px;
}


.like_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 80px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.like_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.like_collection_btn .btn-icon{
    width: 20px;
}


.hashtag_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 35px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.hashtag_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.hashtag_collection_btn .btn-icon{
    width: 20px;
}

.location_display{
    display: flow-root;
}

.location_collection_btn_display{
    flex-direction: unset;
}


.location_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 35px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.location_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.location_collection_btn .btn-icon{
    width: 20px;
}



.comment_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 35px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px ;
    border: rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    z-index: 99999;
}

.comment_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.comment_collection_btn .btn-icon{
    width: 20px;
}



.single_profile_collection_btn{
    display: flex;
    flex-direction: unset;
    position: fixed;
    left: 20px;
    bottom: 80px;
    padding: 5px 10px;
    margin: 0;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 50px;
    border: rgb(238, 238, 238);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #6C5CE7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    box-shadow: rgb(238, 238, 238) 0px 0px 10px 1px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.single_profile_collection_btn .text{
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.single_profile_collection_btn a{
    color: inherit;
    display: flex;
}

.single_profile_collection_btn a:hover{
    color: inherit;
    text-decoration: none;
}

.single_profile_collection_btn a:focus{
    color: inherit;
    text-decoration: none;
}

.single_profile_collection_btn a:visited{
    color: inherit;
    text-decoration: none;
}

.single_profile_collection_btn .btn-icon{
    width: 20px;
}

.single_profile_collection_btn .mail-btn-icon{
    width: 20px;
    height: auto;
    position: absolute;
    right: -8px;
    top: -9px;
}
