/* variables */
body {
    font-family: "Roboto";
    color: #30455c;
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
body h1 {
    font-family: "Roboto";
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.05em;
    padding: 1em 0;
    font-size: 2em;
    color: #fefffa;
    text-transform: capitalize;
    text-align: center;
}
body h2 {
    position: relative;
    color: #30455c;
    font-family: "Roboto";
    font-weight: 700;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid rgba(220, 231, 235, 0.5);
}
body h3 {
    position: relative;
    color: #6c5ce7;
    font-family: "Roboto";
    font-weight: 700;
    /* padding-bottom: 0.5em;
  margin-bottom: 1.5em; */
    /* border-bottom: 1px solid rgba(220, 231, 235, 0.5); */
    margin: 18px;
}
body .tabordion {
    position: relative;
    width: 80%;
    color: #30455c;
    margin: 0;
}
body .tabordion section {
    display: block;
    width: 100%;
    left: 0;
}
body .tabordion section input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
body .tabordion section input[name="sections"]:checked + label {
    background: #6c5ce7;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
body .tabordion section input[name="sections"]:checked ~ article {
    display: block;
}
body .tabordion section label {
    background: rgba(220, 231, 235, 0.5);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #6c5ce7;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0.83em;
    position: relative;
    width: 100%;
    z-index: 100;
}
body .tabordion section article {
    display: none;
    left: 0;
    width: 100%;
    padding: 0em;
    position: relative;
    top: 0;
    /* background: #fefffa; */
    font-family: "Roboto";
    font-weight: 300;
    line-height: 1.7;
}
body .tabordion section article p {
    margin-bottom: 1em;
}
body .tabordion section article:after {
    background-color: transparent;
    bottom: 0;
    content: "";
    display: block;
    left: -229px;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: 1;
}

.pin-photos-tutorial {
    font-size: 18px;
    font-weight: 600;
}

.o-video {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%; /* 9 / 16 * 100 */
}
.o-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
    display: block;
    margin: 7px auto;
    width: 10px;
    height: 10px;
    border-top: 2px solid #6c5ce7;
    border-left: 2px solid #6c5ce7;
}
.arrow-right,
.long-arrow-right {
    transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left {
    transform: rotate(-45deg);
}
.long-arrow-right::after,
.long-arrow-left::after {
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: #6c5ce7;
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
}

block-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.block-wrap > div {
    width: 100%;
    text-align: center;
}

/* .btn-google,
.btn-fb {
  display: inline-block;
  border-radius: 1px;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
} */
.btn-google .google-content,
.btn-google .fb-content,
.btn-fb .google-content,
.btn-fb .fb-content {
    display: flex;
    align-items: center;
    width: 374px;
    height: 53px;
    border-radius: 10px;

    /* -webkit-box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%);
  box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%); */
}
.btn-google .google-content .logo,
.btn-google .fb-content .logo,
.btn-fb .google-content .logo,
.btn-fb .fb-content .logo {
    padding: 13px;
    height: inherit;
}
.btn-google .google-content svg,
.btn-google .fb-content svg,
.btn-fb .google-content svg,
.btn-fb .fb-content svg {
    width: 18px;
    height: 18px;
}
.btn-google .google-content p,
.btn-google .fb-content p,
.btn-fb .google-content p,
.btn-fb .fb-content p {
    width: 100%;
    line-height: 1;
    letter-spacing: 0.21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: -1px;
}

.btn-google {
    background: #fff;
}
.btn-google:hover {
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}
.btn-google:active {
    background-color: #eee;
}
.btn-google .google-content p {
    color: #757575;
}

/* .btn-fb {
  padding-top: 1.5px;
  background: #4267b2;
  background-color: #3b5998;
  border-radius: 6px;
}
.btn-fb:hover {
  box-shadow: 0 0 3px 3px rgba(59, 89, 152, 0.3);
} */
.btn-fb .fb-content p {
    color: rgba(255, 255, 255, 0.87);
}

.footer {
    position: relative;
    bottom: -200rem;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.footer-text {
    padding: 13px 40px;
    margin-bottom: 2px;
    text-align: center;
    width: 100%;
    margin-top: -17px;
}

.content {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 15px 25px 15px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    animation: animBox 0.8s ease forwards;
    float: right;
}

.facebook-col-btn {
    z-index: 100;
}

@keyframes animBox {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}
.container .content .imgLogo {
    width: 90px;
    height: 90px;
    margin-right: 15px;
}
.content .imgLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .textBx {
    display: flex;
    flex-direction: column;
}
.textBx .youtubeName {
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.textBx .youtubeSub {
    color: #666;
    font-size: 14px;
    margin: 2px 0 8px 0;
}
.textBx a {
    color: #fff;
    background: #cc0000;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

/* .youtube-channel-subscribe{
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 600;
      float: right;
      color: #6c5ce7;
} */

.ig-heading-font {
    font-size: 18px;
    font-family: "Roboto";
}

.ig-use-background {
    background-color: #dfe6e9;
    border-radius: 10px;
    border-bottom: 1px solid rgba(220, 231, 235, 0.5);
}

.ig-heading-background {
    background-color: #dfe6e9;
    border-radius: 10px;
    border-bottom: 1px solid rgba(220, 231, 235, 0.5);
}

.ig-heading-text-font {
    position: relative;
    color: #6c5ce7;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    transform: translate(-18%, 9%);
    /* border-bottom: 1px solid rgba(220, 231, 235, 0.5); */
}

.heading-image {
    transform: translate(0%, 3%);
}

.footer-link-text {
    color: #30455c;
    text-decoration: none;
}

.footer-link-text:hover {
    color: #6c5ce7;
    text-decoration: none;
}

@media all and (min-width: 991px) {
    body .tabordion {
        width: 100%;
        color: #30455c;
    }
    body .tabordion section label {
        background: #ffffff;
        padding: 1em 1.1%;
        width: 35%;
        font-size: 16px;
        font-weight: 500;
        border-radius: 6px;
        /* background: #fff; */
        border: 1px solid #eaeaea;
        /* box-sizing: border-box; */
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%);
        box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%);
    }

    body .tabordion .ig-social-btn {
        padding: 0em 1.5%;
        width: 35%;
        font-size: 16px;
        font-weight: 500;
        border-radius: 6px;
        /* background: #fff; */
        border: 1px solid #eaeaea;
        /* box-sizing: border-box; */
        border-radius: 10px;
        background-color: #3b5998;
        -webkit-box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%);
        box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%);
    }
    body .tabordion section article {
        position: absolute;
        width: 41.66vw;
        left: 35.5%;
    }
}
